In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine(
    "mysql+pymysql://root:root@localhost/study_sqlalchemy_database",
    pool_recycle=3600,
    echo=True,
)

In [3]:
from sqlalchemy import text

In [4]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2025-05-19 16:35:33,718 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-05-19 16:35:33,719 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-19 16:35:33,720 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-05-19 16:35:33,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-19 16:35:33,722 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-05-19 16:35:33,723 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-19 16:35:33,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 16:35:33,728 INFO sqlalchemy.engine.Engine select 'hello world'
2025-05-19 16:35:33,728 INFO sqlalchemy.engine.Engine [generated in 0.00192s] {}
[('hello world',)]
2025-05-19 16:35:33,730 INFO sqlalchemy.engine.Engine ROLLBACK

In [5]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

2025-05-19 16:35:48,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 16:35:48,217 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2025-05-19 16:35:48,218 INFO sqlalchemy.engine.Engine [generated in 0.00116s] {}
2025-05-19 16:35:48,246 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (%(x)s, %(y)s)
2025-05-19 16:35:48,247 INFO sqlalchemy.engine.Engine [generated in 0.00094s] [{'x': 1, 'y': 1}, {'x': 2, 'y': 4}]
2025-05-19 16:35:48,255 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2024-12-24 20:00:11,811 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-24 20:00:11,811 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2024-12-24 20:00:11,812 INFO sqlalchemy.engine.Engine [generated in 0.00048s] [(6, 8), (9, 10)]
2024-12-24 20:00:11,813 INFO sqlalchemy.engine.Engine COMMIT

In [52]:
with engine.begin() as conn:
    # 元组获取
    # result = conn.execute(text("select x, y from some_table"))
    # 
    # for x, y in result:
    #     print(f"{x} - {y}")

    # 整数索引
    # result = conn.execute(text("select x, y from some_table"))
    # 
    # for row in result:
    #     x = row[0]
    #     print(x)

    # 属性名称
    # result = conn.execute(text("select x, y from some_table"))
    # for row in result:
    #     y = row.y
    # 
    #     # illustrate use with Python f-strings
    #     print(f"Row: {row.x} {y}")

    # 映射访问
    result = conn.execute(text("select x, y from some_table"))

    for dict_row in result.mappings():
        x = dict_row["x"]
        y = dict_row["y"]
        print(f"{x} -- {y}")

2024-12-24 20:01:19,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-24 20:01:19,908 INFO sqlalchemy.engine.Engine select x, y from some_table
2024-12-24 20:01:19,909 INFO sqlalchemy.engine.Engine [cached since 43.91s ago] ()
1 -- 1
2 -- 4
6 -- 8
9 -- 10
6 -- 8
9 -- 10
6 -- 8
9 -- 10
6 -- 8
9 -- 10
2024-12-24 20:01:19,910 INFO sqlalchemy.engine.Engine COMMIT

In [53]:
# 发送参数
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-12-24 20:22:36,957 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-24 20:22:36,957 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2024-12-24 20:22:36,958 INFO sqlalchemy.engine.Engine [generated in 0.00092s] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
x: 6  y: 8
x: 9  y: 10
x: 6  y: 8
x: 9  y: 10
x: 6  y: 8
x: 9  y: 10
2024-12-24 20:22:36,959 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
# 发送多个参数
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

2025-05-19 16:37:14,780 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 16:37:14,780 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (%(x)s, %(y)s)
2025-05-19 16:37:14,781 INFO sqlalchemy.engine.Engine [cached since 86.53s ago] [{'x': 11, 'y': 12}, {'x': 13, 'y': 14}]
2025-05-19 16:37:14,782 INFO sqlalchemy.engine.Engine COMMIT

## 使用ORM会话执行

Session有几种不同的创建模式，但在这里我们将说明最基本的一种模式，它准确跟踪Connection的使用方式，即在上下文管理器中构造它：

In [7]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2025-05-19 16:37:25,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 16:37:25,718 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > %(y)s ORDER BY x, y
2025-05-19 16:37:25,718 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {'y': 6}
x: 11  y: 12
x: 13  y: 14
2025-05-19 16:37:25,721 INFO sqlalchemy.engine.Engine ROLLBACK

In [8]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

2025-05-19 16:37:33,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 16:37:33,356 INFO sqlalchemy.engine.Engine UPDATE some_table SET y=%(y)s WHERE x=%(x)s
2025-05-19 16:37:33,356 INFO sqlalchemy.engine.Engine [generated in 0.00049s] [{'y': 11, 'x': 9}, {'y': 15, 'x': 13}]
2025-05-19 16:37:33,359 INFO sqlalchemy.engine.Engine COMMIT