In [73]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:root@localhost/study_sqlalchemy_database",
    pool_recycle=3600,
    echo=True,
)

In [74]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

In [75]:
from sqlalchemy import Table, Column, Integer, String

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
    extend_existing=True
)

In [76]:
from sqlalchemy import ForeignKey

address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
    extend_existing=True
)

## 使用insert语句

In [77]:
from sqlalchemy import insert

stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants")

In [78]:
# 打印sql语句
print(stmt)

INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)

In [79]:
compiled = stmt.compile()

In [80]:
compiled.params

{'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}

In [81]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

2024-12-25 10:17:01,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:17:01,752 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2024-12-25 10:17:01,753 INFO sqlalchemy.engine.Engine [generated in 0.00155s] ('spongebob', 'Spongebob Squarepants')
2024-12-25 10:17:01,755 INFO sqlalchemy.engine.Engine COMMIT

In [82]:
# 获取插入结果的主键
result.inserted_primary_key

(4,)

In [83]:
# insert通常会自动生成value子句
print(insert(user_table))

INSERT INTO user_account (id, name, fullname) VALUES (:id, :name, :fullname)

In [84]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"},
        ],
    )
    conn.commit()

2024-12-25 10:17:01,810 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:17:01,811 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2024-12-25 10:17:01,812 INFO sqlalchemy.engine.Engine [generated in 0.00136s] [('sandy', 'Sandy Cheeks'), ('patrick', 'Patrick Star')]
2024-12-25 10:17:01,813 INFO sqlalchemy.engine.Engine COMMIT

In [85]:
from sqlalchemy import select, bindparam

scalar_subq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {
                "username": "spongebob",
                "email_address": "spongebob@sqlalchemy.org",
            },
            {"username": "sandy", "email_address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@squirrelpower.org"},
        ],
    )
    conn.commit()

2024-12-25 10:17:01,829 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:17:01,830 INFO sqlalchemy.engine.Engine INSERT INTO address (user_id, email_address) VALUES ((SELECT user_account.id
FROM user_account
WHERE user_account.name = ?), ?)
2024-12-25 10:17:01,831 INFO sqlalchemy.engine.Engine [generated in 0.00161s] [('spongebob', 'spongebob@sqlalchemy.org'), ('sandy', 'sandy@sqlalchemy.org'), ('sandy', 'sandy@squirrelpower.org')]
2024-12-25 10:17:01,833 INFO sqlalchemy.engine.Engine COMMIT

In [86]:
print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x0000012BBD3E4700>

In [87]:
print(insert(user_table).values().compile(engine))

INSERT INTO user_account DEFAULT VALUES

### 插入....返回( insert....into....)

In [88]:
#  PostgreSQL才有returning的特性
insert_stmt = insert(address_table).returning(
    address_table.c.id, address_table.c.email_address
)
print(insert_stmt)

INSERT INTO address (id, user_id, email_address) VALUES (:id, :user_id, :email_address) RETURNING address.id, address.email_address

In [89]:
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")

In [90]:
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)

In [91]:
print(insert_stmt.returning(address_table.c.id, address_table.c.email_address))

INSERT INTO address (user_id, email_address) SELECT user_account.id, user_account.name || :name_1 AS anon_1
FROM user_account RETURNING address.id, address.email_address

## 使用select语句

In [92]:
from sqlalchemy import select

stmt = select(user_table).where(user_table.c.name == "spongebob")
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [93]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2024-12-25 10:17:01,966 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:17:01,967 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-12-25 10:17:01,968 INFO sqlalchemy.engine.Engine [generated in 0.00162s] ('spongebob',)
(1, 'spongebob', 'Spongebob Squarepants')
(4, 'spongebob', 'Spongebob Squarepants')
2024-12-25 10:17:01,969 INFO sqlalchemy.engine.Engine ROLLBACK

In [94]:
# 建立声明性基础
from sqlalchemy.orm import DeclarativeBase


class Base(DeclarativeBase):
    pass

In [95]:
# 声明映射类
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


class User(Base):
    __tablename__ = "user_account"
    __table_args__ = {"extend_existing": True}
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]
    addresses: Mapped[List["Address"]] = relationship(back_populates="user")

    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"


class Address(Base):
    __tablename__ = "address"
    __table_args__ = {"extend_existing": True}
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id = mapped_column(ForeignKey("user_account.id"))
    user: Mapped[User] = relationship(back_populates="addresses")

    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [96]:
from sqlalchemy.orm import Session

stmt = select(User).where(User.name == "spongebob")
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

2024-12-25 10:17:02,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:17:02,017 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-12-25 10:17:02,018 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ('spongebob',)
(User(id=1, name='spongebob', fullname='Spongebob Squarepants'),)
(User(id=4, name='spongebob', fullname='Spongebob Squarepants'),)
2024-12-25 10:17:02,019 INFO sqlalchemy.engine.Engine ROLLBACK

In [97]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [98]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [99]:
print(select(user_table.c["name", "fullname"]))

SELECT user_account.name, user_account.fullname
FROM user_account

In [100]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [104]:
row = session.execute(select(User.name, User.fullname)).first()
row

2024-12-25 10:17:26,946 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.fullname
FROM user_account
2024-12-25 10:17:26,946 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()

('spongebob', 'Spongebob Squarepants')

In [105]:
session.execute(
    select(User.name, Address).where(User.id == Address.user_id).order_by(Address.id)
).all()

2024-12-25 10:17:49,265 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.id, address.email_address, address.user_id
FROM user_account, address
WHERE user_account.id = address.user_id ORDER BY address.id
2024-12-25 10:17:49,266 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ()

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')),
 ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')),
 ('sandy', Address(id=3, email_address='sandy@squirrelpower.org')),
 ('spongebob', Address(id=4, email_address='spongebob@sqlalchemy.org')),
 ('sandy', Address(id=5, email_address='sandy@sqlalchemy.org')),
 ('sandy', Address(id=6, email_address='sandy@squirrelpower.org'))]

In [106]:
user = session.scalars(select(User)).first()
user

2024-12-25 10:18:11,428 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2024-12-25 10:18:11,429 INFO sqlalchemy.engine.Engine [cached since 69.34s ago] ()

User(id=1, name='spongebob', fullname='Spongebob Squarepants')

In [107]:
from sqlalchemy import func, cast

stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

2024-12-25 10:18:48,832 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:18:48,833 INFO sqlalchemy.engine.Engine SELECT ? || user_account.name AS username
FROM user_account ORDER BY user_account.name
2024-12-25 10:18:48,834 INFO sqlalchemy.engine.Engine [generated in 0.00216s] ('Username: ',)
Username: patrick
Username: patrick
Username: sandy
Username: sandy
Username: spongebob
Username: spongebob
2024-12-25 10:18:48,836 INFO sqlalchemy.engine.Engine ROLLBACK

In [110]:
from sqlalchemy import func, cast

stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
print(stmt)

SELECT :name_1 || user_account.name AS username
FROM user_account ORDER BY user_account.name

In [111]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

2024-12-25 10:34:38,141 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:34:38,143 INFO sqlalchemy.engine.Engine SELECT ? || user_account.name AS username
FROM user_account ORDER BY user_account.name
2024-12-25 10:34:38,144 INFO sqlalchemy.engine.Engine [cached since 949.3s ago] ('Username: ',)
Username: patrick
Username: patrick
Username: sandy
Username: sandy
Username: spongebob
Username: spongebob
2024-12-25 10:34:38,146 INFO sqlalchemy.engine.Engine ROLLBACK

In [112]:
from sqlalchemy import text

stmt = select(text("'some phrase'"), user_table.c.name).order_by(user_table.c.name)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

2024-12-25 10:36:03,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:36:03,973 INFO sqlalchemy.engine.Engine SELECT 'some phrase', user_account.name
FROM user_account ORDER BY user_account.name
2024-12-25 10:36:03,974 INFO sqlalchemy.engine.Engine [generated in 0.00201s] ()
[('some phrase', 'patrick'), ('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'sandy'), ('some phrase', 'spongebob'), ('some phrase', 'spongebob')]
2024-12-25 10:36:03,975 INFO sqlalchemy.engine.Engine ROLLBACK

In [113]:
from sqlalchemy import literal_column

stmt = select(literal_column("'some phrase'").label("p"), user_table.c.name).order_by(
    user_table.c.name
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

2024-12-25 10:36:59,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 10:36:59,253 INFO sqlalchemy.engine.Engine SELECT 'some phrase' AS p, user_account.name
FROM user_account ORDER BY user_account.name
2024-12-25 10:36:59,254 INFO sqlalchemy.engine.Engine [generated in 0.00229s] ()
some phrase, patrick
some phrase, patrick
some phrase, sandy
some phrase, sandy
some phrase, spongebob
some phrase, spongebob
2024-12-25 10:36:59,256 INFO sqlalchemy.engine.Engine ROLLBACK

In [115]:
print(user_table.c.name == "squidward")

user_account.name = :name_1

In [114]:

print(address_table.c.user_id > 10)

address.user_id > :user_id_1

### where子句

In [116]:
print(select(user_table).where(user_table.c.name == "squidward"))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [117]:
print(
    select(address_table.c.email_address)
    .where(user_table.c.name == "squidward")
    .where(address_table.c.user_id == user_table.c.id)
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [118]:
print(
    select(address_table.c.email_address).where(
        user_table.c.name == "squidward",
        address_table.c.user_id == user_table.c.id,
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

“AND”和“OR”连词都可以直接使用 and_()和or_()函数，下面以 ORM 实体的形式进行说明：

In [119]:
from sqlalchemy import and_, or_

print(
    select(Address.email_address).where(
        and_(
            or_(User.name == "squidward", User.name == "sandy"),
            Address.user_id == User.id,
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

In [120]:
print(select(User).filter_by(name="spongebob", fullname="Spongebob Squarepants"))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

### 显示from子句和join

In [121]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [122]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [123]:
print(
    select(user_table.c.name, address_table.c.email_address).join_from(
        user_table, address_table
    )
)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [124]:
print(select(user_table.c.name, address_table.c.email_address).join(address_table))

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [125]:
print(select(address_table.c.email_address).select_from(user_table).join(address_table))

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [126]:
from sqlalchemy import func

print(select(func.count("*")).select_from(user_table))

SELECT count(:count_2) AS count_1
FROM user_account

In [127]:
from sqlalchemy import func

print(select(func.count("*")).select_from(user_table))

SELECT count(:count_2) AS count_1
FROM user_account

In [128]:
print(
    select(address_table.c.email_address)
    .select_from(user_table)
    .join(address_table, user_table.c.id == address_table.c.user_id)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [131]:
print(select(user_table).join(address_table, isouter=True))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id

In [130]:
# 全连接 mysql不支持
print(select(user_table).join(address_table, full=True))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account FULL OUTER JOIN address ON user_account.id = address.user_id

### sort group by having

In [133]:
print(select(user_table).order_by(user_table.c.name))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name

In [134]:
print(select(User).order_by(User.fullname.desc()))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.fullname DESC

In [135]:
from sqlalchemy import func

count_fn = func.count(user_table.c.id)
print(count_fn)

count(user_account.id)

In [138]:
stmt = select(User.name, func.count(Address.id).label("count")).join(Address).group_by(User.name).having(
    func.count(Address.id) > 1)
print(stmt)

SELECT user_account.name, count(address.id) AS count
FROM user_account JOIN address ON user_account.id = address.user_id GROUP BY user_account.name
HAVING count(address.id) > :count_1

In [136]:
with engine.connect() as conn:
    result = conn.execute(
        select(User.name, func.count(Address.id).label("count"))
        .join(Address)
        .group_by(User.name)
        .having(func.count(Address.id) > 1)
    )
    print(result.all())

2024-12-25 11:54:35,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 11:54:35,629 INFO sqlalchemy.engine.Engine SELECT user_account.name, count(address.id) AS count
FROM user_account JOIN address ON user_account.id = address.user_id GROUP BY user_account.name
HAVING count(address.id) > ?
2024-12-25 11:54:35,630 INFO sqlalchemy.engine.Engine [generated in 0.00268s] (1,)
[('sandy', 4), ('spongebob', 2)]
2024-12-25 11:54:35,633 INFO sqlalchemy.engine.Engine ROLLBACK

In [139]:
from sqlalchemy import func, desc

stmt = (
    select(Address.user_id, func.count(Address.id).label("num_addresses"))
    .group_by("user_id")
    .order_by("user_id", desc("num_addresses"))
)
print(stmt)

SELECT address.user_id, count(address.id) AS num_addresses
FROM address GROUP BY address.user_id ORDER BY address.user_id, num_addresses DESC

In [140]:
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()

In [141]:
print(
    select(user_alias_1.c.name, user_alias_2.c.name).join_from(
        user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id
    )
)

SELECT user_account_1.name, user_account_2.name AS name_1
FROM user_account AS user_account_1 JOIN user_account AS user_account_2 ON user_account_1.id > user_account_2.id

In [142]:
from sqlalchemy.orm import aliased

address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User)
    .join_from(User, address_alias_1)
    .where(address_alias_1.email_address == "patrick@aol.com")
    .join_from(User, address_alias_2)
    .where(address_alias_2.email_address == "patrick@gmail.com")
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

 ### 子查询

In [144]:
subq = (
    select(func.count(address_table.c.id).label("count"), address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .subquery()
)
print(subq)

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id

In [145]:
print(select(subq.c.user_id, subq.c.count))

SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

In [148]:
stmt = select(user_table.c.name, user_table.c.fullname, subq.c.count).join_from(
    user_table, subq
)

print(stmt)

SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1 ON user_account.id = anon_1.user_id

In [149]:
subq = (
    select(func.count(address_table.c.id).label("count"), address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .cte()
)
print(subq)

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id

In [151]:

stmt = select(user_table.c.name, user_table.c.fullname, subq.c.count).join_from(
    user_table, subq
)
print(stmt)

WITH anon_1 AS
(SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id)
 SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN anon_1 ON user_account.id = anon_1.user_id

### orm实体子查询

In [152]:
subq = select(Address).where(~Address.email_address.like("%@aol.com")).subquery()
address_subq = aliased(Address, subq)
stmt = (
    select(User, address_subq)
    .join_from(User, address_subq)
    .order_by(User.id, address_subq.id)
)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

2024-12-25 12:55:17,635 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 12:55:17,644 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, anon_1.id AS id_1, anon_1.email_address, anon_1.user_id
FROM user_account JOIN (SELECT address.id AS id, address.email_address AS email_address, address.user_id AS user_id
FROM address
WHERE address.email_address NOT LIKE ?) AS anon_1 ON user_account.id = anon_1.user_id ORDER BY user_account.id, anon_1.id
2024-12-25 12:55:17,644 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ('%@aol.com',)
User(id=1, name='spongebob', fullname='Spongebob Squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=1, name='spongebob', fullname='Spongebob Squarepants') Address(id=4, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=5, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=6, email_address='sandy@squirrelpower.org')
2024-12-25 12:55:17,651 INFO sqlalchemy.engine.Engine ROLLBACK

In [153]:
cte_obj = select(Address).where(~Address.email_address.like("%@aol.com")).cte()
address_cte = aliased(Address, cte_obj)
stmt = (
    select(User, address_cte)
    .join_from(User, address_cte)
    .order_by(User.id, address_cte.id)
)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

2024-12-25 12:55:46,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 12:55:46,387 INFO sqlalchemy.engine.Engine WITH anon_1 AS
(SELECT address.id AS id, address.email_address AS email_address, address.user_id AS user_id
FROM address
WHERE address.email_address NOT LIKE ?)
 SELECT user_account.id, user_account.name, user_account.fullname, anon_1.id AS id_1, anon_1.email_address, anon_1.user_id
FROM user_account JOIN anon_1 ON user_account.id = anon_1.user_id ORDER BY user_account.id, anon_1.id
2024-12-25 12:55:46,389 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('%@aol.com',)
User(id=1, name='spongebob', fullname='Spongebob Squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=1, name='spongebob', fullname='Spongebob Squarepants') Address(id=4, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=5, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=6, email_address='sandy@squirrelpower.org')
2024-12-25 12:55:46,391 INFO sqlalchemy.engine.Engine ROLLBACK

In [154]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .scalar_subquery()
)
print(subq)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id)

In [155]:
stmt = select(user_table.c.name, subq.label("address_count"))
print(stmt)

SELECT user_account.name, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account

In [156]:
stmt = select(user_table.c.name, subq.label("address_count"))
print(stmt)

SELECT user_account.name, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account

In [159]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .scalar_subquery()
    .correlate(user_table)
)
print(subq)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id)

In [160]:
stmt = select(
    user_table.c.name,
    address_table.c.email_address,
    subq.label("address_count"),
).join_from(user_table, address_table).order_by(user_table.c.id, address_table.c.id)

print(stmt)

SELECT user_account.name, address.email_address, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account JOIN address ON user_account.id = address.user_id ORDER BY user_account.id, address.id

In [163]:
with engine.connect() as conn:
    result = conn.execute(
        select(
            user_table.c.name,
            address_table.c.email_address,
            subq.label("address_count"),
        )
        .join_from(user_table, address_table)
        .order_by(user_table.c.id, address_table.c.id)
    )
print("###############################")
for row in result.all():
    print(row)

2024-12-25 13:49:28,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 13:49:28,027 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.email_address, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account JOIN address ON user_account.id = address.user_id ORDER BY user_account.id, address.id
2024-12-25 13:49:28,029 INFO sqlalchemy.engine.Engine [cached since 46.45s ago] ()
2024-12-25 13:49:28,030 INFO sqlalchemy.engine.Engine ROLLBACK
###############################
('spongebob', 'spongebob@sqlalchemy.org', 2)
('spongebob', 'spongebob@sqlalchemy.org', 2)
('sandy', 'sandy@sqlalchemy.org', 4)
('sandy', 'sandy@squirrelpower.org', 4)
('sandy', 'sandy@sqlalchemy.org', 4)
('sandy', 'sandy@squirrelpower.org', 4)

In [164]:
# 最新版本的 PostgreSQL 支持

subq = (
    select(
        func.count(address_table.c.id).label("address_count"),
        address_table.c.email_address,
        address_table.c.user_id,
    )
    .where(user_table.c.id == address_table.c.user_id)
    .lateral()
)
stmt = (
    select(user_table.c.name, subq.c.address_count, subq.c.email_address)
    .join_from(user_table, subq)
    .order_by(user_table.c.id, subq.c.email_address)
)
print(stmt)

SELECT user_account.name, anon_1.address_count, anon_1.email_address
FROM user_account JOIN LATERAL (SELECT count(address.id) AS address_count, address.email_address AS email_address, address.user_id AS user_id
FROM address
WHERE user_account.id = address.user_id) AS anon_1 ON user_account.id = anon_1.user_id ORDER BY user_account.id, anon_1.email_address

In [166]:
from sqlalchemy import union_all
stmt1 = select(user_table).where(user_table.c.name == "sandy")
stmt2 = select(user_table).where(user_table.c.name == "spongebob")
u = union_all(stmt1, stmt2)
with engine.connect() as conn:
    result = conn.execute(u)
    print("#########################")
    print(result.all())

2024-12-25 13:53:11,729 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 13:53:11,730 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ? UNION ALL SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-12-25 13:53:11,731 INFO sqlalchemy.engine.Engine [cached since 16.41s ago] ('sandy', 'spongebob')
#########################
[(2, 'sandy', 'Sandy Cheeks'), (5, 'sandy', 'Sandy Cheeks'), (1, 'spongebob', 'Spongebob Squarepants'), (4, 'spongebob', 'Spongebob Squarepants')]
2024-12-25 13:53:11,733 INFO sqlalchemy.engine.Engine ROLLBACK

In [167]:
stmt1 = select(User).where(User.name == "sandy")
print(stmt1)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [168]:
stmt2 = select(User).where(User.name == "spongebob")
print(stmt2)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [169]:
u = union_all(stmt1, stmt2)
print(u)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 UNION ALL SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_2

In [170]:
orm_stmt = select(User).from_statement(u)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

2024-12-25 13:58:16,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 13:58:16,073 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ? UNION ALL SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2024-12-25 13:58:16,075 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ('sandy', 'spongebob')
User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=5, name='sandy', fullname='Sandy Cheeks')
User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=4, name='spongebob', fullname='Spongebob Squarepants')
2024-12-25 13:58:16,082 INFO sqlalchemy.engine.Engine ROLLBACK

In [171]:
user_alias = aliased(User, u.subquery())
print(user_alias)

aliased(User)

In [172]:
orm_stmt = select(user_alias).order_by(user_alias.id)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

2024-12-25 14:00:59,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 14:00:59,582 INFO sqlalchemy.engine.Engine SELECT anon_1.id, anon_1.name, anon_1.fullname
FROM (SELECT user_account.id AS id, user_account.name AS name, user_account.fullname AS fullname
FROM user_account
WHERE user_account.name = ? UNION ALL SELECT user_account.id AS id, user_account.name AS name, user_account.fullname AS fullname
FROM user_account
WHERE user_account.name = ?) AS anon_1 ORDER BY anon_1.id
2024-12-25 14:00:59,583 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ('sandy', 'spongebob')
User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=4, name='spongebob', fullname='Spongebob Squarepants')
User(id=5, name='sandy', fullname='Sandy Cheeks')
2024-12-25 14:00:59,585 INFO sqlalchemy.engine.Engine ROLLBACK

In [173]:
user_alias = aliased(User, u.subquery())
orm_stmt = select(user_alias).order_by(user_alias.id)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

2024-12-25 14:03:52,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 14:03:52,482 INFO sqlalchemy.engine.Engine SELECT anon_1.id, anon_1.name, anon_1.fullname
FROM (SELECT user_account.id AS id, user_account.name AS name, user_account.fullname AS fullname
FROM user_account
WHERE user_account.name = ? UNION ALL SELECT user_account.id AS id, user_account.name AS name, user_account.fullname AS fullname
FROM user_account
WHERE user_account.name = ?) AS anon_1 ORDER BY anon_1.id
2024-12-25 14:03:52,483 INFO sqlalchemy.engine.Engine [cached since 172.9s ago] ('sandy', 'spongebob')
User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=4, name='spongebob', fullname='Spongebob Squarepants')
User(id=5, name='sandy', fullname='Sandy Cheeks')
2024-12-25 14:03:52,485 INFO sqlalchemy.engine.Engine ROLLBACK

### 存在子查询

In [174]:
subq = (
    select(func.count(address_table.c.id))
    .where(user_table.c.id == address_table.c.user_id)
    .group_by(address_table.c.user_id)
    .having(func.count(address_table.c.id) > 1)
).exists()
with engine.connect() as conn:
    result = conn.execute(select(user_table.c.name).where(subq))
    print(result.all())

2024-12-25 14:06:00,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 14:06:00,223 INFO sqlalchemy.engine.Engine SELECT user_account.name
FROM user_account
WHERE EXISTS (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id GROUP BY address.user_id
HAVING count(address.id) > ?)
2024-12-25 14:06:00,223 INFO sqlalchemy.engine.Engine [generated in 0.00143s] (1,)
[('spongebob',), ('sandy',)]
2024-12-25 14:06:00,224 INFO sqlalchemy.engine.Engine ROLLBACK

In [175]:
subq = (
    select(address_table.c.id).where(user_table.c.id == address_table.c.user_id)
).exists()
with engine.connect() as conn:
    result = conn.execute(select(user_table.c.name).where(~subq))
    print(result.all())

2024-12-25 14:11:57,238 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 14:11:57,239 INFO sqlalchemy.engine.Engine SELECT user_account.name
FROM user_account
WHERE NOT (EXISTS (SELECT address.id
FROM address
WHERE user_account.id = address.user_id))
2024-12-25 14:11:57,240 INFO sqlalchemy.engine.Engine [generated in 0.00212s] ()
[('patrick',), ('spongebob',), ('sandy',), ('patrick',)]
2024-12-25 14:11:57,241 INFO sqlalchemy.engine.Engine ROLLBACK

### 使用sql函数

In [176]:
print(select(func.count()).select_from(user_table))

SELECT count(*) AS count_1
FROM user_account

In [178]:
print(select(func.lower("A String With Much UPPERCASE")))

SELECT lower(:lower_2) AS lower_1

In [180]:
stmt = select(func.now())
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

2024-12-25 14:46:26,656 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-25 14:46:26,657 INFO sqlalchemy.engine.Engine SELECT CURRENT_TIMESTAMP AS now_1
2024-12-25 14:46:26,658 INFO sqlalchemy.engine.Engine [cached since 34.79s ago] ()
[(datetime.datetime(2024, 12, 25, 6, 46, 26),)]
2024-12-25 14:46:26,659 INFO sqlalchemy.engine.Engine ROLLBACK

In [183]:
print(select(func.some_crazy_function(user_table.c.name, 17)))

SELECT some_crazy_function(user_account.name, :some_crazy_function_2) AS some_crazy_function_1
FROM user_account

In [184]:
from sqlalchemy.dialects import postgresql
print(select(func.now()).compile(dialect=postgresql.dialect()))
from sqlalchemy.dialects import oracle
print(select(func.now()).compile(dialect=oracle.dialect()))

SELECT now() AS now_1
SELECT CURRENT_TIMESTAMP AS now_1 FROM DUAL

In [186]:
# pre-configured SQL function (only a few dozen of these)
func.now().type

DateTime()

In [188]:
# arbitrary SQL function (all other SQL functions)
func.run_some_calculation().type

NullType()

In [189]:
from sqlalchemy import JSON
function_expr = func.json_object('{a, 1, b, "def", c, 3.5}', type_=JSON)

In [190]:
stmt = select(function_expr["def"])
print(stmt)

SELECT json_object(:json_object_1)[:json_object_2] AS anon_1

### 内置函数具有预先配置的返回类型

In [191]:
m1 = func.max(Column("some_int", Integer))
m1.type

Integer()

In [192]:
m2 = func.max(Column("some_str", String))
m2.type

String()

In [193]:
func.now().type

DateTime()

In [194]:
func.current_date().type

Date()

In [195]:
print(select(func.upper("lowercase") + " suffix"))

SELECT upper(:upper_1) || :upper_2 AS anon_1

In [196]:
func.count().type

Integer()